@tailwind base;
@tailwind components;
@tailwind utilities;

.head{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: flex-end;
    
}
.imdbicon{
  background-color:rgb(219, 155, 6);
  height: 35px;
  width: 80px;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 5px;
  text-align: center;
}
.icon{
  font-size: 40px;
  border-radius: 5px;
  padding: 5px;
}
